/assets
/backup
/backups
/journeymap
/libraries
/local
/logs
/patchouli_books
/resourcepacks
/runtime
/saves
/schematics
/server-resource-packs
/tlauncher_libraries
/versions
/.qmenu_opened.marker
/launcher_profiles.json
/options.txt
/patchouli_data.json
/rhino.local.properties
/servers.dat
/TempOptifineStore-1.0.json
/TlauncherProfiles.json
/usercache.json
/usernamecache.json
/worlds.json
/kubejs
/tlLoader
/config/jei/world
/config/byg/backups
/chiselsandbits
/servers.dat_old
/screenshots